span.pokemon-type.typefilter.ty1 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty1 {
  border-radius: 4px;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
}
span.pokemon-type.typefilter.ty1.active {
  background: #b1b1b1;
  color: #fff;
}
span.pokemon-type.typefilter.ty1:hover {
  background: #b1b1b1;
  color: #fff;
}
span.pokemon-type.typefilter.ty1.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty2 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty2 {
  border-radius: 4px;
  border: 1px solid #e4653f;
  color: #e4653f;
}
span.pokemon-type.typefilter.ty2.active {
  background: #e4653f;
  color: #fff;
}
span.pokemon-type.typefilter.ty2:hover {
  background: #e4653f;
  color: #fff;
}
span.pokemon-type.typefilter.ty2.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty3 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty3 {
  border-radius: 4px;
  border: 1px solid #50abda;
  color: #50abda;
}
span.pokemon-type.typefilter.ty3.active {
  background: #50abda;
  color: #fff;
}
span.pokemon-type.typefilter.ty3:hover {
  background: #50abda;
  color: #fff;
}
span.pokemon-type.typefilter.ty3.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty4 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty4 {
  border-radius: 4px;
  border: 1px solid #9ac30e;
  color: #9ac30e;
}
span.pokemon-type.typefilter.ty4.active {
  background: #9ac30e;
  color: #fff;
}
span.pokemon-type.typefilter.ty4:hover {
  background: #9ac30e;
  color: #fff;
}
span.pokemon-type.typefilter.ty4.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty5 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty5 {
  border-radius: 4px;
  border: 1px solid #e8c71a;
  color: #e8c71a;
}
span.pokemon-type.typefilter.ty5.active {
  background: #e8c71a;
  color: #fff;
}
span.pokemon-type.typefilter.ty5:hover {
  background: #e8c71a;
  color: #fff;
}
span.pokemon-type.typefilter.ty5.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty6 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty6 {
  border-radius: 4px;
  border: 1px solid #53c4e5;
  color: #53c4e5;
}
span.pokemon-type.typefilter.ty6.active {
  background: #53c4e5;
  color: #fff;
}
span.pokemon-type.typefilter.ty6:hover {
  background: #53c4e5;
  color: #fff;
}
span.pokemon-type.typefilter.ty6.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty7 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty7 {
  border-radius: 4px;
  border: 1px solid #e99a3f;
  color: #e99a3f;
}
span.pokemon-type.typefilter.ty7.active {
  background: #e99a3f;
  color: #fff;
}
span.pokemon-type.typefilter.ty7:hover {
  background: #e99a3f;
  color: #fff;
}
span.pokemon-type.typefilter.ty7.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty8 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty8 {
  border-radius: 4px;
  border: 1px solid #ba79c1;
  color: #ba79c1;
}
span.pokemon-type.typefilter.ty8.active {
  background: #ba79c1;
  color: #fff;
}
span.pokemon-type.typefilter.ty8:hover {
  background: #ba79c1;
  color: #fff;
}
span.pokemon-type.typefilter.ty8.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty9 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty9 {
  border-radius: 4px;
  border: 1px solid #c8a841;
  color: #c8a841;
}
span.pokemon-type.typefilter.ty9.active {
  background: #c8a841;
  color: #fff;
}
span.pokemon-type.typefilter.ty9:hover {
  background: #c8a841;
  color: #fff;
}
span.pokemon-type.typefilter.ty9.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty10 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty10 {
  border-radius: 4px;
  border: 1px solid #5e9fe2;
  color: #5e9fe2;
}
span.pokemon-type.typefilter.ty10.active {
  background: #5e9fe2;
  color: #fff;
}
span.pokemon-type.typefilter.ty10:hover {
  background: #5e9fe2;
  color: #fff;
}
span.pokemon-type.typefilter.ty10.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty11 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty11 {
  border-radius: 4px;
  border: 1px solid #e885b2;
  color: #e885b2;
}
span.pokemon-type.typefilter.ty11.active {
  background: #e885b2;
  color: #fff;
}
span.pokemon-type.typefilter.ty11:hover {
  background: #e885b2;
  color: #fff;
}
span.pokemon-type.typefilter.ty11.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty12 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty12 {
  border-radius: 4px;
  border: 1px solid #6cbe50;
  color: #6cbe50;
}
span.pokemon-type.typefilter.ty12.active {
  background: #6cbe50;
  color: #fff;
}
span.pokemon-type.typefilter.ty12:hover {
  background: #6cbe50;
  color: #fff;
}
span.pokemon-type.typefilter.ty12.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty13 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty13 {
  border-radius: 4px;
  border: 1px solid #b08754;
  color: #b08754;
}
span.pokemon-type.typefilter.ty13.active {
  background: #b08754;
  color: #fff;
}
span.pokemon-type.typefilter.ty13:hover {
  background: #b08754;
  color: #fff;
}
span.pokemon-type.typefilter.ty13.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty14 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty14 {
  border-radius: 4px;
  border: 1px solid #756eb4;
  color: #756eb4;
}
span.pokemon-type.typefilter.ty14.active {
  background: #756eb4;
  color: #fff;
}
span.pokemon-type.typefilter.ty14:hover {
  background: #756eb4;
  color: #fff;
}
span.pokemon-type.typefilter.ty14.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty15 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty15 {
  border-radius: 4px;
  border: 1px solid #6c81c8;
  color: #6c81c8;
}
span.pokemon-type.typefilter.ty15.active {
  background: #6c81c8;
  color: #fff;
}
span.pokemon-type.typefilter.ty15:hover {
  background: #6c81c8;
  color: #fff;
}
span.pokemon-type.typefilter.ty15.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty16 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty16 {
  border-radius: 4px;
  border: 1px solid #5a3c1e;
  color: #5a3c1e;
}
span.pokemon-type.typefilter.ty16.active {
  background: #5a3c1e;
  color: #fff;
}
span.pokemon-type.typefilter.ty16:hover {
  background: #5a3c1e;
  color: #fff;
}
span.pokemon-type.typefilter.ty16.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty17 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty17 {
  border-radius: 4px;
  border: 1px solid #919191;
  color: #919191;
}
span.pokemon-type.typefilter.ty17.active {
  background: #919191;
  color: #fff;
}
span.pokemon-type.typefilter.ty17:hover {
  background: #919191;
  color: #fff;
}
span.pokemon-type.typefilter.ty17.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter.ty18 {
  background: none;
  border-radius: 0;
}
span.pokemon-type.typefilter.ty18 {
  border-radius: 4px;
  border: 1px solid #e06cbb;
  color: #e06cbb;
}
span.pokemon-type.typefilter.ty18.active {
  background: #e06cbb;
  color: #fff;
}
span.pokemon-type.typefilter.ty18:hover {
  background: #e06cbb;
  color: #fff;
}
span.pokemon-type.typefilter.ty18.disable:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
span.pokemon-type.typefilter{
  cursor: pointer;
}
[role='listitem']>div{
  margin: 10px auto;
}
